<a href="https://colab.research.google.com/github/pankaj372/ASS.1/blob/main/Copy_of_Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q.1 convert an integer to a floating-point number

In [ ]:
integer_value = 10
float_value = 5.5
result = integer_value + float_value
print(result)  # Output will be 15.5

15.5

# Q,2 convert a float to an integer

In [ ]:
float_value = 5.7
integer_result = int(float_value)
print(integer_result)  # Output will be 5

5

# Q.3 CONVERT AN INTEGER TO A STRING

In [ ]:
my_integer = 42
my_string = str(my_integer)
print(my_string)  # Output will be "42"

42

# Q.4 CONVERT A LIST TO A TUPLE

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

# Q.5 convert a tuple to a list

In [ ]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)  # Output: [1, 2, 3]

[1, 2, 3]

# Q.6 CONVERT A DECIMAL NUMBER TO BINARY

In [ ]:
def DecimalToBinary(num):
    if num >= 1:
        DecimalToBinary(num // 2)
        print(num % 2, end='')

dec_val = 24
DecimalToBinary(dec_val)  # Output: 011000

11000

# Q.7 CONVERT A NON-ZERO NUMBER TO BOOLEAN

In [ ]:
non_zero_number = 42  # Replace with your non-zero number
is_non_zero = bool(non_zero_number)
print(is_non_zero)  # Output will be True

True