<a href="https://colab.research.google.com/github/pankaj372/ASS.1/blob/main/Copy_of_Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q.1 sum, difference, product and quotient of two number.

In [ ]:
#sum
a = 5
b = 9
sum = a + b
print(sum)

14

In [ ]:
# product
a = 5
b = 9
product = a * b
print(product)

45

In [ ]:
#difference
a = 80
b = 20
result = 80 - 20
print(result)

60

In [ ]:
#quotient
a = 200
b = 20
result = 200 / 20
print(result)

10.0

# Q.2 perform various assignment operations on a variable

In [ ]:
def main():
    # Initialize a variable
    x = 10

    # Perform various assignment operations
    x += 5  # Add 5
    print(f"Updated value after adding 5: {x}")

    x -= 3  # Subtract 3
    print(f"Updated value after subtracting 3: {x}")

    x *= 2  # Multiply by 2
    print(f"Updated value after multiplying by 2: {x}")

    x /= 4  # Divide by 4
    print(f"Updated value after dividing by 4: {x}")

    x %= 3  # Compute remainder after division by 3
    print(f"Updated value after taking the remainder: {x}")

    x **= 2  # Raise to the power of 2
    print(f"Updated value after exponentiation: {x}")

    x //= 2  # Integer division by 2
    print(f"Updated value after integer division by 2: {x}")

if __name__ == "__main__":
    main()

Updated value after adding 5: 15
Updated value after subtracting 3: 12
Updated value after multiplying by 2: 24
Updated value after dividing by 4: 6.0
Updated value after taking the remainder: 0.0
Updated value after exponentiation: 0.0
Updated value after integer division by 2: 0.0

# Q.3 Compare two numbers and print the result

In [ ]:
# Both numbers are equal
a = 5
b = 5
if a == b:
    print("Both numbers are equal")
else:
    print("Numbers are not equal")

Both numbers are equal

In [ ]:
# Both numbers are not equal
a = 18
b = 5
if a == b:
    print("Both numbers are equal")
else:
    print("Numbers are not equal")

Numbers are not equal

# Q.4 Check conditions $sing logical operators.

In [1]:
# Example conditions
a = 10
b = 5

# Using comparison operators
print(a == b)  # False
print(a > b)   # True
print(a != b)  # True

# Using logical operators
print((a > 3) and (b < 8))  # True
print((a > 15) or (b < 2))  # False
print(not (a == b))         # True

False
True
True
True
False
True

# Q.5 Check the identity of Variables

In [2]:
# Define two variables with the same value
x = 10
y = 10

# Check identity using 'is' operator
print(f"x is y: {x is y}")

# Check identity using 'is not' operator
print(f"x is not y: {x is not y}")

x is y: True
x is not y: False

# Q.6 Perform bitwise operations on any two integers.

In [3]:
a = 10  # Binary: 1010
b = 6   # Binary: 0110
result_and = a & b
print(f"Bitwise AND of {a} and {b} is: {result_and}")

Bitwise AND of 10 and 6 is: 2

#Q.7 Use anary operators to change the sign of a number.

In [4]:
number = 42
negative_number = -number

print(f"Original number: {number}")
print(f"Negative number: {negative_number}")

Original number: 42
Negative number: -42

# Q.8 Use the ternary operator to assign values based on conditions.

In [5]:
a = 10
b = 15
maximum = a if a > b else b
print(f"The maximum of {a} and {b} is {maximum}.")

The maximum of 10 and 15 is 15.