<a href="https://colab.research.google.com/github/pankaj372/ASS.1/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q 1.Write a program to print numbers from  to 0, but stop if the number is 5.

In [1]:
number = 1
while number <= 10:
    if number == 5:
        break  # Stop the loop when the number is 5
    print(number)
    number += 1

1
2
3
4

#Q 2.Write a program to iterate through a list and stop when encountering a specific element.

In [2]:
def find_element(my_list, target):
    for item in my_list:
        if item == target:
            print(f"Found {target} in the list.")
            break  # Stop iterating once the target element is found
    else:
        print(f"{target} not found in the list.")

# Example usage:
my_list = [10, 20, 30, 40, 50]
target_element = 30
find_element(my_list, target_element)

Found 30 in the list.

# Q.3. Write a program to skip printing even numbers from  to 0.

In [3]:
for number in range(1, 11):
    if number % 2 == 0:
        continue  # Skip even numbers
    print(number)

1
3
5
7
9

# Q.4.Write a program to print numbers from 0 to 9 using range().

In [4]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

#Q.5. Write a program to print multiplication tables from 1 to 5, but stop after the first table is printed for each number.

In [5]:
for i in range(1, 6):  # Loop through numbers 1 to 5
    print(f"Multiplication table for {i}:")
    for j in range(1, 11):  # Print the first 10 multiples
        result = i * j
        print(f"{i} x {j} = {result}")
    print()  # Add a newline after each table

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#Q.6.Write a program to skip printing even numbers using a while loop.

In [6]:
number = 1
while number <= 10:
    if number % 2 == 0:
        number += 1  # Skip even numbers
        continue
    print(number)
    number += 1

1
3
5
7
9