<a href="https://colab.research.google.com/github/pankaj372/ASS.1/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q 1. print numbers from 1 to 5 using a while loop ?

In [1]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

# Q 2. Calclate the sum of number from 1 to 10 using a while loop ?

In [2]:
sum = 0
number = 1
while number <= 10:
    sum += number
    number += 1

print("The sum of the numbers from 1 to 10 is", sum)

The sum of the numbers from 1 to 10 is 55

# Q 3.Calclate the factorial of a number using a for loop.

In [3]:
def factorial(number):
    result = 1
    for i in range(1, number + 1):
        result *= i
    return result

# Example: Calculate the factorial of 7
print("The factorial of 7 is", factorial(7))

The factorial of 7 is 5040

# Q 4. Count the number of vowel in a string using a for loop.

In [4]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0
    for char in input_string:
        if char in vowels:
            vowel_count += 1
    return vowel_count

# Example: Count vowels in the string "Hello, World!"
input_string = "Hello, World!"
print("Number of vowels in the string:", count_vowels(input_string))

Number of vowels in the string: 3

#Q 5.Print a pattern using nested loops?

In [6]:
rows = 5
for i in range(rows):
    for j in range(i + 1):
        print("*", end="")
    print()  # Newline after each row

*
**
***
****
*****

#Q.6.Generate a mltiplication table using nested loops?

In [7]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")  # Separate values with a tab
    print()  # Move to the next row

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100